body{
    background-image: url('../imagenes/fondo.jpg') ;
    background-size: 100% 100%;
	background-attachment: fixed;
}
#cabecera{
	
	width: 700px;
	margin: 0px auto;
}

#texto{
	color: black;
}

#intro{

	width: 1000px;
	margin: 0px auto;
}

.menu{
	list-style: none;
	padding: 0;
	background: black;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #5FEE46;
}